<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}

</style>
    <title>Biryani</title>
</head>

<body>
<!-- Sidebar (hidden by default) -->
<nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:40%;min-width:300px" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()"
  class="w3-bar-item w3-button">Close Menu</a>
  <a href="{% url 'food-home' %}" onclick="w3_close()" class="w3-bar-item w3-button">Home</a>
  <a href="{% url 'food-about' %}" onclick="w3_close()" class="w3-bar-item w3-button">About</a>
  <a href="{% url 'food-contactus' %}" onclick="w3_close()" class="w3-bar-item w3-button">Contact Us</a>


</nav>

<!-- Top menu -->
<div class="w3-top">
  <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
    <div class="w3-button w3-padding-16 w3-left" onclick="w3_open()">☰</div>
  <div class="w3-right w3-padding-16">
   {% if user.is_authenticated %}
       <a href="{% url 'profile' %}"onclick="w3_close()" class="w3-bar-item w3-button">Profile</a>
       <a href="{% url 'logout' %}"onclick="w3_close()" class="w3-bar-item w3-button">Logout</a>

    {% else %}
      <a href="{% url 'login' %}"onclick="w3_close()" class="w3-bar-item w3-button">Login</a>

    {% endif %}
  </div>
<div class="w3-center w3-padding-16" align="center">Biryani Reviews</div>


  </div>
</div>
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
<div class="content-section">
     <legend class="border-bottom mb-4 align"></legend>
     <form method="POST">
         {% csrf_token %}

         <div class="form-group" style="" align="center">
             {{ form }} <br>
             <button class="btn btn-outline-info" type="submit">post</button>
         </div>





     </form>
</div>
</div>
<div class="border-bottom mb-4" align="center">

{% for post in posts %}
   <p>By {{ post.author }} on {{post.date_posted }}</p>
   <p>{{ post.content }}</p><br>
 {% endfor %}
</div>


<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

 </body>
</html>