
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}

</style>
<!-- Sidebar (hidden by default) -->
<nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:40%;min-width:300px" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()"
  class="w3-bar-item w3-button">Close Menu</a>
  <a href="{% url 'food-home' %}" onclick="w3_close()" class="w3-bar-item w3-button">Home</a>
  <a href="{% url 'food-about' %}" onclick="w3_close()" class="w3-bar-item w3-button">About</a>
  <a href="{% url 'food-contactus' %}" onclick="w3_close()" class="w3-bar-item w3-button">Contact Us</a>


</nav>

<!-- Top menu -->
<div class="w3-top">
  <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
    <div class="w3-button w3-padding-16 w3-left" onclick="w3_open()">☰</div>
  <div class="w3-right w3-padding-16">
   {% if user.is_authenticated %}
       <a href="{% url 'profile' %}"onclick="w3_close()" class="w3-bar-item w3-button">Profile</a>
       <a href="{% url 'logout' %}"onclick="w3_close()" class="w3-bar-item w3-button">Logout</a>

    {% else %}
      <a href="{% url 'login' %}"onclick="w3_close()" class="w3-bar-item w3-button">Login</a>

    {% endif %}
  </div>



  </div>
</div>
{% block content %}
<div class="content-section" >
    <div align="left" style="position: absolute; top:80px; left:400px; width:200px; height:25px">
          <h2 class="account-heading"> {{ user.username }}</h2>
          <p class="text-secondary">  {{ user.email }}</p>
    </div>
        <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" style="position:absolute; top:200px; right:470px; width:300px; height:400px">
        <div class="media-body">
        </div>
      </div>
    </div>
{% endblock content %}

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>
